article.CodePage {
  display: flex;
  flex-direction: column;
  gap: 6px;

  padding: 12px 18px;
}

ul.Projects {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  width: 100%;
  padding: 24px 0;
}

div.OGImageWrapper {
  height: fit-content;
  aspect-ratio: 1.91 / 1;

  border: 2px solid var(--color-pink);
  border-right-color: white;
  border-bottom-color: white;

  img {
    object-fit: cover;
  }
}
