li.ProjectWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;

  width: 100%;
  padding: 12px;

  div {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;

    text-align: left;

    min-width: 160px;
    max-width: 208px;

    margin-bottom: 12px;
  }

  h3, p {
    margin: 0;
  }

  a {
    color: var(--color-blue);

    &:hover {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }

  &:hover {
    outline: 2px dotted var(--color-blue);
    cursor: pointer;
  }
}
