div.StartMenuWrapper {
  display: none;
  flex-direction: column;

  width: 322px;

  position: absolute;
  bottom: 36px;
  left: 0;

  border: 2px solid white;
  border-right-color: var(--color-pink);
  border-bottom-color: var(--color-pink);
  background-color: var(--color-pink-light);

  color: black;
}

div.OpenStartMenu {
  display: flex;
}

ul.MenuItems {
  li {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 12px 18px;

    &:hover {
      background-color: var(--color-pink);
    }
  }

  button {
    width: 100%;

    background: transparent;
    border: none;

    font-size: initial;

    cursor: pointer;
  }
}

div.User {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 16px;
  font-size: 14px;
  border-bottom: 2px solid var(--color-pink);

  img {
    border: 2px solid var(--color-pink);
    border-right-color: white;
    border-bottom-color: white;
    background-color: var(--color-pink-light);
  }
}
