div.PlayerWrapper {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

div.AlbumWrapper {
  display: none;

  flex-direction: column;
  align-items: center;
  gap: 6px;

  text-align: center;

  width: 100%;
  max-width: 240px;
  height: 100%;
}

div.ActiveAlbum {
  display: flex;
}

div.ImageContainer {
  position: relative;
  aspect-ratio: 1;

  width: 100%;
  max-width: 240px;
  height: auto;

  img {
    object-fit: contain;
    margin: auto;

    height: auto;
    max-width: fit-content;

    border: 2px solid var(--color-blue-dark);
    border-right-color: var(--color-blue-light);
    border-bottom-color: var(--color-blue-light);
  }
}

div.Marquee {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;

  > * {
    display: inline-block;
    margin: 0;
    animation: marqueeScroll 20s linear infinite;
  }

  span {
    margin-right: 48px;
  }
}

nav.PlayBar {
  display: flex;
  gap: 6px;

  padding: 12px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid white;
    border-right-color: black;
    border-bottom-color: black;
    background-color: var(--color-yellow);

    padding: 4px 8px;

    cursor: pointer;

    &:active {
      border: 2px solid black;
      border-right-color: white;
      border-bottom-color: white;
      background-color: var(--color-yellow-dark);
    }
  }
}

@keyframes marqueeScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
