section.WindowWrapper {
  position: absolute;
  top: 10%;
  left: 10%;

  display: none;
  flex-direction: column;

  border: 2px solid var(--color-blue-light);
  border-right-color: var(--color-blue-dark);
  border-bottom-color: var(--color-blue-dark);
  background-color: var(--color-blue);

  width: 80%;
  min-width: 160px;
  max-width: 100dvw;
  height: 60%;
  min-height: 84px;
  max-height: calc(100dvh - 36px);

  padding: 2px;

  resize: both;
  overflow: hidden;

  cursor: default;
  transition: 0.2s;
}

p.MenuBar {
  padding: 2px 4px;
  font-size: 14px;
  color: white;
}

section.OpenWindowWrapper {
  display: flex;
}

section.MaximisedWindowWrapper {
  height: 100% !important;
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
  resize: none;
}

section.MinimisedOpenWindowWrapper {
  z-index: -1;
}

section.ActiveWindowWrapper {
  z-index: 1;
}

div.ContentWrapper {
  height: 100%;
  width: 100%;

  border: 2px solid var(--color-blue-dark);
  border-right-color: var(--color-blue-light);
  border-bottom-color: var(--color-blue-light);
  background-color: var(--color-pink-light);

  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;

  ::selection {
    background-color: var(--color-yellow);
    color: black;
  }

  overflow: auto;
}
