article.IconsPage {
  display: flex;
  flex-direction: column;
  gap: 6px;

  padding: 12px 18px;
}

ul.Widgets {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  width: 100%;
  padding: 24px 0;
}
