:root {
  --color-blue-light: #1667ff;
  --color-blue: #0048ff;
  --color-blue-dark: #002fca;

  --color-pink-light: #fff2ef;
  --color-pink: #ffcece;
  --color-pink-dark: #ff9797;

  --color-yellow: #ffd900;
  --color-yellow-dark: #ffb700;

  --color-bg: var(--color-pink-light);
}
